$body-background-colour: #c0deed;
$body-colour: #000;

@import url(https://fonts.googleapis.com/css?family=Roboto:400);
// Fonts style definition
$base:         'Arial', 'Helvetica', Sans-Serif;
$font-regular: 'Roboto',Sans-Serif;
